.partnes-account {
  text-align: center;
  &__header {
    min-height: 540px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #cccccc;
    color: #ffffff;
    margin-bottom: 52px;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.2);
    }
  }
  &__bg-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &__first-title {
    position: relative;
    z-index: 10;
    margin: 0;
    padding-inline: 40px;
    color: #fff;
    font-family: "Tenor Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 4px;
    text-transform: uppercase;
    max-width: 710px;
    text-wrap: balance;
    text-align: left;
  }
  &__title {
    color: #000;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 31px;
    &--mod {
      position: relative;
      padding-bottom: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        opacity: 0.2;
        background: var(--black, #000100);
        width: 387px;
        height: 1px;
      }
    }
  }
  &__text {
    color: var(--black, #000100);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.54px;
  }
  &__body {
    max-width: 995px;
    margin: 0 auto;
  }
  &__subtitle {
    display: block;
    color: var(--black, #000100);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 51px;
  }
  .profile__nav {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    margin-bottom: 20px;
  }
  .profile__nav-item-wrap {
    max-width: 100%;
    width: 100%;
    padding: 0;
    text-align: left;
    color: var(--black, #000100);
  }
  .profile__nav-name {
    color: var(--black, #000100);
  }
  .profile__nav-item {
    text-decoration: none !important;
  }
}

.personal-manager {
  border: 4px solid var(--black, #000100);
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  text-align-last: left;
  margin-bottom: 10px;

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 240px 1fr;
    align-items: center;
  }
  &__photo {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__label {
    display: block;
    margin: 0;
    margin-bottom: 14px;
    color: var(--black, #000100);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  &__name {
    display: block;
    margin: 0;
    margin-bottom: 23px;
    color: var(--black, #000100);
    font-family: "Tenor Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }
  &__phone {
    display: block;
    text-decoration: none;
    margin-bottom: 25px;
    color: var(--black, #000100);
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
}
.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  max-width: max-content;
  grid-template-columns: repeat(2, 40px);
  gap: 24px;
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
    &::before {
      display: none;
    }
  }
}

// Какая то хрень
.intec-template-footer {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.15;
    background: var(--black, #000100);
  }
}

@media (max-width: 1400px) {
  .partnes-account__header {
    min-height: 400px;
    margin-bottom: 32px;
  }
  .partnes-account__title--mod {
    padding-bottom: 16px;
  }
  .partnes-account__title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 23px;
  }
  .partnes-account__text {
    font-size: 16px;
  }
  .partnes-account__subtitle {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .partnes-account .profile__nav {
    grid-template-columns: repeat(2, 1fr);
  }
  .personal-manager {
    padding: 30px;
  }
}

@media (max-width: 1023px) {
  .partnes-account__header {
    min-height: 300px;
    margin-bottom: 24px;
  }
  .partnes-account__first-title {
    padding-inline: 20px;
    max-width: 100%;
    font-size: 32px;
  }
  .partnes-account__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .partnes-account__title--mod::after {
    width: 33%;
  }

  .partnes-account__text {
    font-size: 14px;
  }
  .partnes-account__subtitle {
    font-size: 23px;
    margin-bottom: 23px;
    text-wrap: balance;
  }
}

@media (max-width: 767px) {
  .partnes-account .profile__nav {
    grid-template-columns: repeat(1, 1fr);
  }
  .personal-manager__label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .personal-manager__name {
    margin-bottom: 10px;
    font-size: 23px;
  }
  .personal-manager__phone {
    margin-bottom: 16px;
  }
  .social-list {
    grid-template-columns: repeat(2, 32px);
    gap: 12px;
  }
  .personal-manager__grid {
    gap: 16px;
    grid-template-columns: 190px 1fr;
  }
  .personal-manager {
    padding: 16px;
  }

  .personal-manager__grid {
    grid-template-columns: 1fr;
  }
  .personal-manager__photo {
    max-width: 375px;
  }
  .partnes-account__first-title {
    font-size: 21px;
  }
  .partnes-account__header {
    min-height: 240px;
    margin-bottom: 16px;
  }
  .main {
    margin-top: 40px !important;
  }
  .profile__nav-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 6px;
  }
}

// ИЗБРАННОЕ
.favorite {
  .catalog__header-title {
    margin-top: 0;
    margin-bottom: 31px;
  }
}
.crumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    &::before {
      display: none;
    }
  }
  a {
    text-decoration: none;
    color: var(--bardeau, #b1191e);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-family: inherit;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    position: relative;
    padding-left: calc(5px + 8px);
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    &::before {
      content: "";
      width: 7px;
      height: 13px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 1L2 6L7 11' stroke='%23B1191E' stroke-width='2'/%3e%3c/svg%3e ");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 1px;
      flex-shrink: 0;
      margin-right: 8px;
    }
  }
}

.add-button {
  color: #b1191e !important;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.39px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(177, 25, 30, 0.30);
  padding: 16px;
  height: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: 12px 1fr;
  max-width: max-content;
  margin: 0 auto;
  gap: 8px;
  align-items: center;
  text-decoration: none !important;
  span {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #b1191e !important;
  }
}

.favorite__header {
  margin-bottom: 42px;
}

.favorite__message {
  text-align: center;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 18px;
}
